/* ============================================= */
/*              Images                           */
/* ============================================= */

.img-avatar {
  @include disp-block;

  max-width: 100%;
  max-height: 100%;
}

.img-frame {
  @include disp-block;
  max-width: 100%;
  padding: 13px;
  border: 1px solid $color-white;
}

.img-logo {
  @include disp-block;
}
